{#
The page footer
#}

{% if footer.items %}
  <footer class="footer-menu">
    <nav>
      {% for item in footer.items %}
        <a class="footer-link {{ item.classes|join(' ') }}" href="{{ item.link }}">{{ item.title }}</a>
      {% endfor %}
    </nav>
  </footer>
{% endif %}

{% if site.copyright %}
  <footer class="copyright">
    <div class="copyright-inner">
      {{ site.copyright }}
    </div>
  </footer>
{% endif %}
