{#
The main menu.
#}

<nav class="main-menu">
  <div class="header">
    {% include "partials/menu.twig" with {'items': main_menu.left_items} %}
    <div class="hamburger"></div>
    {{ main_menu.logo }}
    {% include "partials/menu.twig" with {'items': main_menu.right_items} %}
    <div class="hamburger">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  {% include "partials/menu.twig" with {'items': main_menu.items} %}
</nav>
