/**
 * Defines the Musille Header.
 */

@use "../theme/typography" as font;
@use "../theme/colors";
@use "../theme/overlay";
@use "../theme/responsive" as *;

$editor: false !default;
$main-menu-height: 0 !default;
$padding-lr: (
  default: 15px,
  ">=tablet": 30px
) !default;

/**
 * The padding function generates a padding style for the specified bottom padding. The
 * top padding is selected equal to the bottom padding but accounting for the menu bar
 * height.
 *
 * $padding-bottom can either be a simple length or a responsive variable.
 */
@mixin padding($padding-bottom) {
  @if $editor {
    @include responsive($padding-lr) {
      padding: 20px responsive($padding-lr);
    }
  } @else {
    @include responsive($padding-lr, $padding-bottom, $main-menu-height) {
      padding: (responsive($padding-bottom) + responsive($main-menu-height)) responsive($padding-lr) responsive($padding-bottom);
    }
  }
}

.wp-block-musille-header {
  $padding-bottom: (
    default: 30px,
    ">=tablet": 50px
  );
  @include padding($padding-bottom);
  position: relative;
  background-position: center;
  background-size: cover;

  .overlay {
    display: none;
  }

  .content {
    position: relative;
    z-index: 2;
    text-align: center;
  }

  .attribution {
    $bottom: (
      default: 10px,
      ">=tablet": 20px
    );
    position: absolute;
    z-index: 2;
    text-align: right;
    @if $editor {
      right: 10px;
      bottom: 10px;
      // font-family: fonts.$family;
    } @else {
      @include responsive($base-padding, $bottom) {
        right: max(#{responsive($base-padding)}, env(safe-area-inset-left));
        bottom: responsive($bottom);
        max-width: min(#{$max-width}, calc(100% - 2*#{responsive($base-padding)}));
      }

      @include media(">=#{$max-width}") {
        right: calc(((100% - #{$max-width}) / 2) + max(#{responsive($base-padding, ">=tablet")}, env(safe-area-inset-left)));
      }
    }
  }

  .title {
    @extend %heading;
    margin: 0;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;

    @include media(">=tablet") {
      font-size: 50px;
      line-height: 70px;
    }
  }

  .subtitle {
    font-size: 20px;
    text-align: center;
    @include media(">=tablet") {
      font-size: 25px;
    }
  }

  .meta {
    margin-top: 25px;
    font-size: 18px;
    text-align: center;

    @include media(">=tablet") {
      font-size: 22px;
    }
  }

  &.is-style-colored {
    @include padding((
      default: 80px,
      ">=tablet": 110px
    ));

    .title {
      font-weight: bold;
      font-size: 40px;
      font-family: font.$family;
      line-height: 50px;
      letter-spacing: -1px;

      @include media(">=tablet") {
        font-size: 70px;
        line-height: 80px;
      }
    }

    .subtitle {
      @extend %heading;
      margin: 0;
      color: colors.$highlight;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-shadow: #808080 0 0 10px;

      @include media(">=tablet") {
        font-size: 18px;
        letter-spacing: 8px;
      }
    }
  }

  &.is-style-subtitle {
    @include padding((
      default: 80px,
      ">=tablet": 110px
    ));
    color: colors.$light;

    .overlay {
      @extend %overlay;
      display: block;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .title {
      font-weight: bold;
      font-size: 40px;
      font-family: font.$family;
      line-height: 50px;
      letter-spacing: -1px;
      text-shadow: #fff 0 0 10px;

      @include media(">=tablet") {
        font-size: 70px;
        line-height: 80px;
      }
    }

    .subtitle {
      @extend %heading;
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 3px;
      text-transform: uppercase;

      @include media(">=tablet") {
        font-size: 18px;
        letter-spacing: 8px;
      }
    }
  }

  &.is-style-fancy {
    @include padding((
      default: 80px,
      ">=tablet": 110px
    ));

    &:not(.no-background) .overlay {
      @extend %overlay;
      display: block;
      background-color: rgba(255, 255, 255, 0.6);
    }

    .content {
      position: relative;
    }

    .title {
      font-weight: 700;
      font-size: 60px;
      font-family: font.$family;
      line-height: 80px;
      letter-spacing: 5px;
      text-transform: none;
      opacity: 0.15;

      @include media(">=tablet") {
        font-size: 110px;
        line-height: 130px;
        letter-spacing: -4px;
      }
    }

    .subtitle {
      @extend %heading;
      position: absolute;
      bottom: 40%;
      left: 50%;
      z-index: 3;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
      transform: translate(-50%, 50%);

      @include media(">=tablet") {
        font-size: 28px;
        line-height: 37px;
        letter-spacing: 1px;
      }

      @if $editor {
        width: 100%;
      }
    }

    .meta {
      font-weight: 600;
    }
  }
}

@if $editor {
  .wp-block-musille-header {
    .subtitle input[type=text] {
      @extend .subtitle;
      padding-left: 0;
      // color: $dark-text-color;
      font-family: font.$family;
      background: transparent;
      border-style: none;
      box-shadow: none;

      &::placeholder {
        color: #d3d3d3;
        opacity: 1;
      }
    }

    &.is-style-subtitle {
      .subtitle input[type=text] {
        color: colors.$light;
        font-family: font.$heading-family;
      }
    }

    &.is-style-fancy .subtitle ::placeholder {
      color: #444;
    }
  }
}
