@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Oswald:300,400,700&subset=latin,latin-ext");

$font-family: "Open Sans", sans-serif;
$font-size: 14px;
$line-height: 26px;

$heading-font-family: "Oswald", sans-serif;
$heading-font-weight: 400;
$heading-line-height: 1.8em;
$heading-letter-spacing: 1px;
$h1-font-size: 34px;
$h2-font-size: 30px;
$h3-font-size: 26px;
$h4-font-size: 22px;
$h5-font-size: 18px;
$h6-font-size: 16px;

$link-color: #0693e3;
