#js_swp_custom_bg_meta h2, .edit-post-meta-boxes-area #poststuff #js_swp_custom_bg_meta h2,
#js_swp_custom_header_meta h2, .edit-post-meta-boxes-area #poststuff #js_swp_custom_header_meta h2,
#js_swp_discography_settings_meta h2, .edit-post-meta-boxes-area #poststuff #js_swp_discography_settings_meta h2,
#js_swp_artist_select_meta h2, .edit-post-meta-boxes-area #poststuff #js_swp_artist_select_meta h2,
#js_swp_contact_settings_meta h2, .edit-post-meta-boxes-area #poststuff #js_swp_contact_settings_meta h2,
#swp_gallery_settings_meta h2, .edit-post-meta-boxes-area #poststuff #swp_gallery_settings_meta h2 {
	color: #fff;
    background-color: #62707d;
}

#js_swp_custom_bg_meta .toggle-indicator, 
#js_swp_custom_header_meta .toggle-indicator, 
#js_swp_discography_settings_meta .toggle-indicator,
#js_swp_artist_select_meta .toggle-indicator,
#js_swp_contact_settings_meta .toggle-indicator,
#swp_gallery_settings_meta .toggle-indicator {
	color: #ffffff;
}

.js_swp_meta_bg_image_buttons {
	display: block;
    width: 100%;
}

#js_swp_meta_bg_image, #lc_swp_meta_heading_bg_image, #lc_swp_meta_page_logo {
	display: none;
}

.heading_meta_option {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.heading_meta_option:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.lc_swp_before_option, .lc_swp_option {
	display: inline-block;
	float: left;
}

.lc_swp_before_option {
	width: 20%;
}
.lc_swp_option_right {
	width: 80%;
	float: right;
}

.lc_swp_option {
	width: 78%;
}

.lc_swp_meta_head_bg_image_buttons {
	margin: 10px 0;
}

.swp_text_align_center {
	text-align: center;
}

p.show_on_right {
	margin-left: 20%;
}

.meta_area_desc {
	text-align: center;
	padding-bottom: 25px;
}

#custom_head_bg_meta_preview {
	margin: 25px 0 0 0;
}

.swp_cpt_opts, .swp_cpt_setting_input {
	width: 100%;
}

.swp_setting_name {
	width: 30%;
}

.swp_cpt_setting_desc {
	color: #999999; 
	font-size: 0.9em;
	margin-bottom: 5px;	
}
.swp_hidden_input {
	display: none;
}
.swp_preview_artist_img {
    max-width: 200px;
    border-radius: 50%;	
}

select#swp_artist_selection {
	width: 79%;
}

#swp_artist_selection option {
	padding: 5px 10px;
}

.description.for_artist_selection {
	margin-top: 10px;
}

.clearfix:after {
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

#custom_bg_meta_preview img,
#custom_head_bg_meta_preview img {
	max-width: 487px !important;
	padding: 10px;
}

#custom_head_bg_meta_preview img {
	padding: 0;
}

#custom_bg_meta_preview img[src=""],
#custom_head_bg_meta_preview img[src=""],
#custom_head_page_logo_meta_preview img[src=""] {
   display: none;
}

.swp-customer-corner-content {
	max-width: 1000px;
}
.nav-tab.customer-nav-tab {
    color: #458a12;
}

.swp-settings-wrap .nav-tab {
	border-radius: 3px;
}
.active-tab-customer_options h2 {
	color: #32373c;
    line-height: 1.2em;
    font-size: 2.8em;
    font-weight: 400;
}
.swp-intro-text {
	font-weight: 400;
    line-height: 1.6em;
    font-size: 19px;
}
.swp_discount {
	color: red;
}
.swp-settings-faq {
	margin-top: 	30px;
}
.swp-settings-intro {
	position: absolute;
	right: 20px;
}