/**
 * Custom group style that spans the whole width of the page.
 */

@use "../variables" as *;

.wp-block-group.is-style-full-width {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin-right: -50vw;
  margin-left: -50vw;

  // stylelint-disable selector-class-pattern
  div.wp-block-group__inner-container {
    @include content-box;
  }
  // stylelint-enable
}
