@use "../theme/responsive" as *;
@use "../theme/typography" as fonts;
@use "../theme/card";
@use "../theme/colors";
@use "../theme/transition";

$editor: false !default;

@mixin header-styles {
  h2 {
    margin-bottom: 15px;
    font-weight: 800;
    font-family: fonts.$family;
    line-height: 1;
    text-transform: uppercase;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin-bottom: 0;
    font-weight: 800;
  }
}

@if ($editor) {
  .post-type-concert {
    // stylelint-disable selector-class-pattern
    :not(.block-editor-inner-blocks) > .block-editor-block-list__layout > .wp-block:not([data-type="musille/header"]):not(.editor-post-title__block) {
      // stylelint-enable selector-class-pattern
      @extend %card;

      &[data-type="core/image"] {
        padding: 0;

        figure {
          overflow: hidden;
          border-radius: card.$border-radius;
        }
      }
    }

    .editor-styles-wrapper {
      @include header-styles;
    }
  }
} @else {
  .single-concert {
    @include header-styles;

    main#content {
      flex-wrap: wrap;
    }

    .cancelled-message {
      @extend %card;
      flex: 100%;
      margin-bottom: 80px;
      color: colors.$text;

      h2 {
        margin-bottom: 10px;
      }

      p {
        margin: 0;
      }
    }

    .main,
    .sidebar {
      > :not(.concert-meta) {
        @extend %card;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      > :first-child {
        margin-top: 0;
      }

      > .wp-block-image {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
      }

      > .wp-block-uagb-google-map {
        padding: 10px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .main {
      flex: 1;

      .in-sidebar {
        @include media(">=laptop") {
          display: none;
        }
      }
    }

    .sidebar {
      display: none;
      width: 30%;
      margin-left: 20px;
      @include media(">=laptop") {
        display: block;
      }
    }

    &.cancelled main#content,
    &.cancelled header {
      color: #d3d3d3 !important;
      filter: grayscale(100%);

      .main *,
      .sidebar * {
        color: #d3d3d3 !important;
      }

      .wp-block-wp-concerts-tickets .link {
        display: none;
      }

      .concert-meta .date .month {
        background-color: #a9a9a9;
        box-shadow: 0 2px 0 #a9a9a9;
      }
    }
  }
}

.main .concert-meta {
  display: flex;
  margin-bottom: 30px;

  time.date {
    display: flex;
    flex-direction: column;
    width: 70px;
    overflow: hidden;
    font-size: 0.25em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    transition: 0.3s all;

    @include media(">=phone") {
      width: 120px;
      font-size: 0.4em;
    }

    * {
      font-weight: bold;
      font-size: 1em;
      font-style: normal;
      text-align: center;
    }

    .month {
      color: #fff;
      font-size: 2.5em;
      line-height: 2;
      background-color: colors.$highlight;
      box-shadow: 0 2px 0 colors.$highlight;
      @include media(">=phone") {
        padding: 0.4em 0;
        line-height: unset;
      }
    }

    .day {
      padding-top: 0.3em;
      color: #2f2f2f;
      font-size: 6em;
      line-height: 1;
      letter-spacing: -0.05em;
      @include media(">=phone") {
        padding-top: 0.5em;
        padding-bottom: 0.4em;
        line-height: unset;
      }
    }

    .weekday {
      color: colors.$text;
      font-size: 2.2em;
      line-height: 2.5;
      transition: transition.$default;
      @include media(">=phone") {
        line-height: unset;
      }
    }

    &:hover {
      background-color: #f5f5f5;

      .weekday {
        color: colors.$highlight;
      }
    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;

    @include media(">=phone") {
      margin-left: 20px;
    }
  }

  .location {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;

    .name {
      font-weight: 700;

      &:not(:hover) {
        color: colors.$text;
      }
    }

    .extra::before {
      content: "\00a0";
    }

    .address {
      flex: 100%;
      font-size: 1em;
    }
  }

  .datetime {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
}

.wp-block-wp-concerts-featured-concert {
  a:not(:hover) {
    color: colors.$text;
  }
}
