/**
 * The footer bars of the musille theme.
 */

@use "sass:color";
@use "../theme/responsive" as *;


footer.footer-menu {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: scroll;
  background-color: #131313;

  nav {
    @extend %main-content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
  }

  a.footer-link {
    padding-right: 15px;
    padding-left: 15px;

    + a.footer-link {
      border-left: 1px solid #464556;
    }

    &:not(:hover) {
      color: #dcdcdc;
    }
  }
}

footer.copyright {
  position: relative;
  width: 100%;
  padding-bottom: env(safe-area-inset-bottom);
  color: #7b7b7b;
  font-weight: 600;
  font-size: 12px;
  line-height: 35px;
  text-align: center;
  background-color: #1d1d1d;

  .copyright-inner {
    @extend %main-content-box;
  }

  a:not(:hover) {
    color: inherit;
  }
}
