/**
 * The Musille Main Menu.
 */

@use "sass:color";
@use "../theme/colors";
@use "../theme/transition";
@use "../theme/responsive" as *;
@use "../theme/wordpress" as wp;
@use "hamburger";

$height: (
  default: 70px,
  ">=tablet": 90px
);

$sticky-height: (
  default: 60px,
  ">=tablet": 70px,
);
$logo-offset: 20px;

// TODO: Move to theme/colors
$solid-background-color: #f3f3f3;
$background-color: color.change($solid-background-color, $alpha: 0.7);
$shadow: 0 4px 10px color.change(#000, $alpha: 0.5);
$font-size: (
  default: 14px,
  ">=tablet": 12px
);
$open-transition: max-height transition.$default-duration ease-in-out;
$close-transition: max-height transition.$default-duration cubic-bezier(0, 1, 0, 1);


@mixin menu-height() {
  @include responsive($height) {
    height: responsive($height);
  }

  @at-root .sticky#{&} {
    @include responsive($sticky-height) {
      height: responsive($sticky-height);
    }
  }
}


.main-menu {
  // Main Menu Bar
  @include wp.admin-bar-fix;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: $background-color;
  transition: background-color transition.$default;

  @include media(">600px") {
    position: fixed;
  }

  &.sticky {
    // Stickied bar when scrolling
    position: fixed;
    background-color: $solid-background-color;
    box-shadow: $shadow;

    @include media("<=600px") {
      top: 0;
    }
  }

  &.active {
    background-color: $solid-background-color;
    box-shadow: $shadow;
  }

  .header {
    // The top row of the menu bar, containing the logo.
    @include menu-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: height transition.$default;

    .menu {
      display: flex;
      flex: 1;
      align-items: center;
      margin: 0;
      list-style: none;
      @include media("<tablet") {
        display: none;
      }
    }

    .menu:first-child {
      justify-content: flex-end;
    }

    .menu:last-child {
      justify-content: flex-start;
    }
  }

  > .menu {
    // Mobile Menu
    display: flex;
    flex-direction: column;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    transition: $close-transition;

    @include media(">=tablet") {
      display: none;
    }

    @at-root .active#{&} {
      $max-height: responsive($sticky-height);
      max-height: calc(100vh - #{$max-height});
      overflow-y: scroll;
      transition: $open-transition;
    }
  }

  .custom-logo-link {
    display: block;
    flex-shrink: 0;
    height: 100%;
    transition: transition.$default;

    @include media(">=tablet") {
      padding: 0 60px;
      background: linear-gradient(0deg, $background-color $logo-offset, rgba(0, 0, 0, 0) $logo-offset);
      border-radius: 10px;
      transform: translateY($logo-offset);
    }

    @at-root .sticky#{&} {
      @include media(">=tablet") {
        $offset: $logo-offset / 2;
        padding: 0 40px;
        background: linear-gradient(0deg, $solid-background-color $offset, rgba(0, 0, 0, 0) $offset);
        box-shadow: 0 14px 10px -10px rgba(0, 0, 0, 0.5);
        transform: translateY($logo-offset/2);
      }
    }
  }

  .custom-logo {
    @include menu-height;
    width: auto;
    height: responsive($height);
    transition: transition.$default;
  }

  .hamburger {
    @include hamburger.hamburger;
    @include media(">=tablet") {
      display: none;
    }
  }

  .menu > .menu-item {
    padding: 10px 18px;

    @include media(">=tablet") {
      height: 100%;
    }

    > a {
      display: block;
      width: fit-content;
      color: #000;
      font-size: responsive($font-size);
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transition.$default;

      @include media(">=tablet") {
        height: 100%;
        font-size: responsive($font-size);
        line-height: responsive($height, ">=tablet");
        white-space: nowrap;
        // stylelint-disable max-nesting-depth
        @at-root .sticky#{&} {
          line-height: responsive($sticky-height, ">=tablet");
        }
        // stylelint-enable max-nesting-depth
      }

      &:hover {
        color: colors.$highlight;
      }
    }
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
    list-style: none;
    transition: $close-transition;

    @include media("<tablet") {
      max-height: 0;
    }

    @at-root .main-menu .expanded .sub-menu {
      max-height: 100vh;
      transition: $open-transition;
    }

    @include media(">=tablet") {
      position: absolute;
      display: none;
      margin: 0;
      padding: 10px 20px;
      background-color: #bf5a5b;
      @at-root .main-menu .menu-item:hover > .sub-menu {
        display: flex;
      }
    }

    > .menu-item a {
      display: block;
      padding: 5px 0;
      color: #000;
      font-size: 13px;
      letter-spacing: 1px;
      transition: transition.$default;

      @include media(">=tablet") {
        color: #fff;
      }

      &:hover {
        color: colors.$highlight;
        // stylelint-disable max-nesting-depth
        @include media(">=tablet") {
          color: #ccc;
        }
        // stylelint-enable max-nesting-depth
      }
    }
  }
}
