/**
 * The Musille Button Style.
 */

@use "transition";
@use "typography" as fonts;
@use "colors";
@use "card";

%button {
  display: inline-block;
  padding: 10px 20px;
  color: colors.$text;
  font-weight: fonts.$heading-weight;
  font-family: fonts.$heading-family;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: colors.$background;
  border: 1px solid colors.$dark;
  border-radius: card.$border-radius;
  cursor: pointer;
  transition: background-color transition.$default, color transition.$default;

  &:hover {
    color: colors.$background;
    background-color: colors.$highlight;
    border-color: colors.$highlight;
  }
}
