/**
 * The Musille Button Style.
 */

@use "transition";

%button {
  // TODO: Update the design
  display: inline-block;
  padding: 20px 40px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  border-radius: 100px;
  transition: box-shadow transition.$default, transform transition.$default;

  &:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
  }
}
