/**
 * Transitions used by Musille.
 */

$default-duration: 0.3s !default;
$default-timing-function: ease-in-out !default;
$default-delay: 0s !default;
$default: $default-duration $default-timing-function $default-delay !default;
