@use "variables";
@use "variables/responsive" as *;
@use "components/card";
@use "site";

.post-password-form {
  text-align: center;

  p:first-child {
    @extend h4;
    font-family: variables.$font-family;
  }

  p:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media(">=tablet") {
      flex-direction: row;
    }

    label {
      display: flex;
      flex-direction: column;

      @include media(">=tablet") {
        flex-direction: row;
        align-items: center;
      }
    }
  }
  
  input[type=password] {
    flex: 1;
    min-width: 0;
    padding: 12px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #808080;
    border-radius: card.$border-radius;

    @include media(">=tablet") {
      margin-left: 8px;
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  input[type=submit] {
    margin-top: 8px;
    padding: 12px 20px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    background-color: #344e55;
    border: 1px solid #808080;
    border-radius: card.$border-radius;
    cursor: pointer;
    transition: all 0.3s;

    @include media(">=tablet") {
      margin-top: 0;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:active {
      background-color: darken(#344e55, 10%);
    }
  }
}
