@use "musille/typography" as *;

html,
body {
  height: 100%;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

a,
p a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  border-width: 0;
}

// TODO: Test this
blockquote {
  margin: 40px 50px;
  font-size: 15px;
  font-style: italic;

  i.fa {
    position: absolute;
    margin-top: -10px;
    margin-left: -50px;
    font-size: 35px;
    opacity: 0.1;
  }
}

// TODO: Test this
pre {
  display: block;
  margin: 15px 0;
  padding: 0 10px;
  overflow: visible;
  overflow-y: hidden;
  border: 1px solid #3c3c3c;
}

// TODO: Test this
ul,
ol {
  margin: 15px 0;
  padding-left: 0;
  list-style-position: inside;
}

// TODO: Test this
ul li ul,
ol li ol {
  margin: 0 0 0 30px;
}

thead,
th {
  text-align: left;
}

td,
th {
  padding: 10px 30px 10px 0;
}

th {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}
