/**
 * The Musille base style.
 */

@use "variables" as *;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: none;
}

html,
body {
  height: 100%;
  color: $text-color;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  background-color: $background-color;
}

// stylelint-disable selector-max-id
main#content {
  @include content-box;
  min-height: 585px;

  .page-template-template-no-header & {
    padding-top: 0;
  }

  a {
    font-weight: 600;
  }
}
// stylelint-enable selector-max-id

.center {
  text-align: center;
}

a,
p a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $highlight-color;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-width: 0;
}

blockquote {
  margin: 40px 50px;
  font-size: 15px;
  font-style: italic;
}

pre {
  display: block;
  margin: 15px 0;
  padding: 0 10px;
  overflow: visible;
  overflow-y: hidden;
  border: 1px solid #3c3c3c;
}

ul,
ol {
  margin: 15px 0;
  padding-left: 0;
  list-style-position: inside;
}

ul li ul,
ol li ol {
  margin: 0 0 0 30px;
}

thead,
th {
  text-align: left;
}

td,
th {
  padding: 10px 30px 10px 0;
}

th {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}
