/**
 * The Musille base style. This file can be included in different ways, depending on the
 * values of the variables $editor and $admin:
 *
 * If neither is true this file generates frontend styles that apply to any elements on
 * a page. For frontend stylesheets this is usually fine but in the backend we do not
 * want to override the WordPress default styles.
 *
 * In order to use this stylesheet on the backend you can set $admin to true. This will
 * exclude any styles that should not apply in the backend.
 *
 * Lastly you can set $editor to true. This assumes that $admin is also true. By doing
 * so most styles will be included but they will be scoped so that they will only be
 * applied inside of the Gutenberg block editor.
 */

@use "theme/colors";
@use "theme/typography" as text;
@use "theme/responsive" as *;
@use "theme/wordpress";

$editor: false !default;
$admin: $editor !default;

@import url("#{text.$url}");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin content() {
  a,
  p a {
    @extend %link;
  }

  img {
    max-width: 100%;
    height: auto;
    border-width: 0;
  }

  blockquote {
    @extend %blockquote;
  }

  pre {
    @extend %code-block;
  }

  ul,
  ol {
    margin: 15px 0;
    padding-left: 0;
    list-style-position: inside;
  }

  ul li ul,
  ol li ol {
    margin: 0 0 0 30px;
  }

  thead,
  th {
    text-align: left;
  }

  td,
  th {
    padding: 10px 30px 10px 0;
  }

  th {
    font-weight: 600;
  }
}

@if not $admin {
  :focus {
    outline: none;
  }

  html {
    @extend %text;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: colors.$background;

    &.admin-bar {
      @include responsive(wordpress.$admin-bar-height) {
        min-height: calc(100vh - #{responsive(wordpress.$admin-bar-height)});
      }
    }
  }

  body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  body > main {
    @extend %main-content-box;
    flex: 1;
    width: 100%;
    padding-bottom: 20px;

    .page-template-template-no-header & {
      padding-top: 0;
    }

    // stylelint-disable selector-class-pattern
    a {
      font-weight: 600;
    }

    .wp-block-button__link,
    .button {
      font-weight: inherit;
    }
    // stylelint-enable selector-class-pattern
  }

  body > header + main {
    padding-top: 20px;
  }
}

@if not $admin {
  @include text.headings;
  @include content;
} @else if $editor {
  div.editor-styles-wrapper {
    @extend %text;

    @include content;
    background-color: colors.$background;
  }
  // stylelint-disable selector-class-pattern
  .editor-post-title .editor-post-title__input {
    @extend %h1;
    font-weight: 600;
    font-size: 2.44em;
  }
  // stylelint-enable selector-class-pattern

  .editor-styles-wrapper {
    @include text.headings;
  }
}
