/**
This file defines classes that may be applied to elements by the user to easily match
the default theme styles. These classes should not be used by the theme itself.
 */

$editor: false !default;

@use "theme/responsive" as *;
@use "theme/card";
@use "theme/button";
@use "theme/overlay";

@mixin styles {
  .card {
    @extend %card;
  }

  .button {
    @extend %button;
  }

  .overlay {
    @extend %overlay;
  }

  .center {
    text-align: center;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .mt0 {
    margin-top: 0;
  }

  .mb0 {
    margin-bottom: 0;

    + * {
      margin-top: 0;
    }
  }

  .nomargin {
    margin: 0;

    > * {
      margin: 0;
    }
  }

  .no-mobile {
    @include media("<phone") {
      display: none;
    }
  }
}

@if $editor {
  .editor-styles-wrapper {
    @include styles;
  }
} @else {
  @include styles;
}
